
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*body {
    font-family: 'Concert One', cursive;
    margin: 0  auto;
}
*/
.block-mini-menu-subtitle {
    text-align: center;
    color: white;
    font-family: 'Leckerli One', cursive;
    padding: 20px;

}

.block-mini-menu-title {
    text-align: center;
    color: white;
    font-size: 50px;

}

.block-mini-menu-invitation {
    text-align: center;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 20px;
    font-size: 12px;
    opacity: .7;

}

.block-mini-menu {
    max-width: 1300px;
    margin: 0 auto;

    


}


    

.asorti-block-deserts {
    display: grid;
    grid-template-columns : repeat(4, 150px);
    margin: 0 auto ;
    align-items: center;
    gap: 20px ;
    padding: 0 335px;
}

.asorti-block {
    margin: 0 auto;

}


.tabs-items{
    display: flex;
}

.tabs-item{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif ;
    color: #fff;
    opacity: .6 ;
    text-decoration: none;
    

}

.container-deserts:target{
    display: block;
}




.desert_item {
    width: 130px;
    height: auto;
}
.desert_img {

    background-color: rgb(50, 38, 75);
    padding: 40px;
    border-radius: 30px;
    width: 213px;
    height: 210px;
}
.deserts {
    width: 1300px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.deserts .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}
.container {
    /* 1140px */
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
  }

  .asorti-price{
    color:gold;
    font-family: 'Concert One', cursive;
    font-size: 26px;
    text-align: center;
  }

  .asorti_product_name{
    color: #fff;
    font-family: 'Concert One', cursive;
    font-size: 26px;
    text-align: center;
  }

  .deserts:not(.deserts.active){
    display: none;
  }
  .menu-block-buttons{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    
  }
  
  .asorti-block-button-desserts {
    background: none;
    border: none;
    font-family:'Source Sans 3', sans-serif;
    color:#fff;
    opacity: .6;
    cursor: pointer;
    padding: 18px 36px;

  }

  .asorti-block-button-desserts:hover{
    opacity: 1;
  }

  .asorti-block-button-ice-crem {
    background: none;
    border: none;
    font-family:'Source Sans 3', sans-serif;
    color:#fff;
    opacity: .6;
    cursor: pointer;
    padding: 18px 36px;

  }

  .asorti-block-button-ice-crem:hover{
    opacity: 1;
  }

  .asorti-block-button-drinks {
    background: none;
    border: none;
    font-family:'Source Sans 3', sans-serif;
    color:#fff;
    opacity: .6;
    cursor: pointer;
    padding: 18px 36px;

  }

  .asorti-block-button-drinks:hover{
    opacity: 1;
  }