.block-mini-menu-subtitle {
    text-align: center;
    color: white;
    font-family:  ;

}

.block-mini-menu-title {
    text-align: center;
    color: white;
    font-family:  ;

}

.block-mini-menu-invitation {
    text-align: center;
    color: white;
    font-family:  ;

}
