/**
background inherit from "body" in section_cards.css
**/
.block-with-carousel-ice-cream-tastes {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #32264b;
    text-align: center;
    min-width: 411px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.block-with-carousel-ice-cream-tastes__small-h2 {
    font-family: 'Leckerli One', sans-serif;
    font-size: 14px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: #32264b;
}
.block-with-carousel-ice-cream-tastes__biggets-text {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 34px;
    font-family: 'Dangrek', sans-serif;
}
.block-with-carousel-ice-cream-tastes__regular-text-on-head-divide {
    font-family: 'Source Sans 3', sans-serif;
    text-align: center;
    color: rgb(225,221,232);
    font-size: 20px;
}
.block-with-carousel-ice-cream-tastes__carousel {
    background:#32264b;
}
.img-carousel-element-icecream-tastes{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
}
.block-with-carousel-ice-cream-tastes__biggets-text {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 26px;
}
.block-with-carousel-ice-cream-tastes__carousel-element_name-of-taste{
    text-align: center;
    font-family: 'Dangrek', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 24px;

}
.block-with-carousel-ice-cream-tastes__carousel-element_taste-description {
    font-family: 'Source Sans 3', sans-serif;
    color:rgb(185, 177, 197);
    font-style: italic;
    text-align: center;
}
.block-with-carousel-ice-cream-tastes__carousel-element_price-common-text {
    text-align: center;
    padding-bottom: 20px;
}
.block-with-carousel-ice-cream-tastes__carousel-element_price-currecny-and-value {
    color: rgb(255, 196, 82);
    font-family: "Source Sans 3", sans-serif;
    font-size: 21px;
    text-align: center;
}
.block-with-carousel-ice-cream-tastes__carousel-element_price-ball {
    color: rgb(185, 177, 197);
    font-family: "Source Sans 3", sans-serif;
    font-size: 21px;
    text-align: center;
}
.yellow-button-block {
    background-color: rgb(255, 196, 82);
    border-radius: 200px;
    max-width: 130px;
    width: 100%;
    margin-right: 20px;
    padding: 15px 0px 15px 0px;
    text-align: center;
}
@media (min-width: 480px) {
    .block-with-carousel-ice-cream-tastes__small-h2 {
        font-size: 14px;
    }
}
@media (min-width: 768px) {
    .block-with-carousel-ice-cream-tastes__small-h2 {
        font-size: 17px;
    }
    .block-with-carousel-ice-cream-tastes__biggets-text {
        font-size: 41px;
    }
}
@media (min-width: 1024px) {
    .block-with-carousel-ice-cream-tastes__small-h2 {
        font-size: 21px;
    }
    .block-with-carousel-ice-cream-tastes__biggets-text {
        font-size: 48px;
    }
}