header {
    margin: 0px;
    margin-bottom: 250px;
    padding: 0px 40px;
    background-image: url(../img/cover.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__links {
    display: flex;
    max-width: 100%;
    font-family: "Source Sans 3", sans-serif;
    font-size: 18px;
    display:inline-block;
    cursor: pointer;
}

.header__link {
    font-weight: 700;
    margin: 17.5px;
    text-decoration: none;
}

.header__link:hover {
    text-decoration: underline;
    color: pink;
    transition: 0.2s;
}

.nav__logo {
    display: block;
    max-width: 100%;
}

.links__logo {
    width: 150px;
    height: 100px;
}

.header__content {
    margin-top: 250px;
    margin-bottom: 55px;
}
.header__content__uptitle {
    font-family: "Leckerli One", undefined;
    font-size: 21px;
    color: rgb(255, 255, 255);
}

.header__content__h1 {
    font-family: Dangrek, cursive;
    font-size: 80px;
    color: white;
}

.header__content__subtitle {
    font-family: "Source Sans 3", sans-serif;
    font-size: 20px;
    font-weight: 700px;
    color: white;
    margin-bottom: 55px;
}

.yellow-button {
    background-color: rgb(255, 196, 82);
    padding: 20px;
    border-radius: 200px;
}

.purple-button {
    background-color: rgb(50, 38, 75);
    border-radius: 200px;
    padding: 20px;
}