@import url(common.css);
 nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.menu_page{
    background-color: #6382a7;
}
 .menu_colums {
     columns: 2;
     -webkit-columns: 2;
     -moz-columns: 2;
      margin-top: 50px;
      list-style-type: none;
      display:grid;
      column-gap: 25px;
      grid-template-columns: auto auto;
      justify-items: stretch;
      padding-left: 120px;
      padding-right: 120px;
    
}
 .nav__links {
     display: flex;
     max-width: 100%;
     font-family: "Source Sans 3", sans-serif;
     font-size: 18px;
     display: inline-block;
     cursor: pointer;
     color: #fff;
}
 .header__link {
     font-weight: 700;
     margin: 17.5px;
     text-decoration: none;
     color:#fff;
}
 .header__link:hover {
     text-decoration: none;
     border-bottom: 2px solid pink ;
     transition: 0.2s;
     color:#fff;
}
 .nav__logo {
     display: block;
     max-width: 100%;
}
 .links__logo {
     width: 150px;
     height: 100px;
}
 header {
     margin:0;
     padding: 0 40px;
     background-color: #537398;
     width: 100%;
     height: 50vh;
}
 .item-wrapper {
     width: auto;
     margin-top: 5px;
     padding-left: 10px;
     padding-right: 10px;
}
.menu_image{
     display: flex;
     width: 70px;
     height: 70px;
     margin: 0;
     
}

 .item {
     display: flex;
     justify-content: space-between;
     align-items: flex-start;
     margin-top: 20px;
}
 .title_item {
     font-family: 'Playfair Display', serif;
     flex-grow: 1;
     font-size: 25px;
     flex: 2;
     color:#fff;
     white-space: nowrap;
     font-family: Dangrek, cursive;
}
 .space {
     flex-basis: 1;
     overflow: hidden;
     flex: 20;
     flex-shrink: 4;
     align-self: flex-end;
     text-align: right;
     margin-right: 10px;
     margin-top: 16px;
     border-bottom: 1px solid #fff;
     font-size: 0;
}
 .price {
     font-size: 25px;
     font-family: Dangrek, cursive;
     min-width: 60px;
     align-self: flex-end;
     color:#fff;

}
 .description {
     font-family: 'Josefin Sans', sans-serif;
     font-weight: 300;
     font-size: 16px;
     width: 80%;
     color: rgb(195,196,206);
     white-space: normal;
}
 .menu_headlines {
     display: flex;
     justify-content: space-around;
     flex-direction: column;
     align-items: center;
     margin-top: 20px;
     color: #fff;
}
 .menu_title{
     display: flex;
     font-family: Dangrek, cursive;
     justify-content: space-around;
     flex-direction: column;
     align-items: center;
     margin-top: 90px;
     color: #fff;
     font-size: 50px;
}

.menu_title2{
  display: flex;
  font-family: Dangrek, cursive;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  color: #fff;
  font-size: 50px;
}
 .menu_uptitle{
     font-family: "Leckerli One", undefined;
     font-size: 20px;
     margin-top: 90px;
}
 .menu_subtitle{
     font-family: "Source Sans 3", sans-serif;
     font-size: 20px;
     margin-top: 10px;
}
 
 @media screen and (max-width: 720px) {
     .menu_colums {
         align-items: center;
         display:grid;
         grid-template-columns: 100%;
    }
     .item-wrapper {
         white-space: nowrap;
         justify-content: space-around;
         flex-direction: column;
         align-items: center;
    }
}
 .menu_position{
     margin-top: 5px;
}

.up_btn{
    padding: 0.5rem 1em;
    margin-top: -50px;
    position: absolute;
    right: 10px;
    background-color: #537398;
    color: #fff;
    border-radius: 32px;
    border:none;
    cursor: pointer;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px #537398;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
}

.up_btn:before, 
  .up_btn:after {
    content: "";
    width: 140%;
    height: 100%;
    left:-20%;
    color: #fff;
    
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  } 

  .up_btn:active {
    transform: scale(0.9);
    background-color: #a55376;
    box-shadow: 0 2px 25px #fff;
    color: #fff;
  }