.season-offer {
margin-top: 120px;
margin-bottom: 100px;
padding: 40;
color: rgb(250, 253,255);
text-transform: none; 
display: flex; 
flex-direction: inherit;
justify-content: center;
height: 600px;
    }    
h2 {
    font-family: Leckerli One;
    font-weight: 400; 
    font-size: 21px; 
}
.subtitle__list {
color: rgb(237, 236, 242);
font-family: Dangrek;
font-weight: 600;
text-transform: inherit;
justify-content: center;
font-size: 50px;
line-height: 50px;
}

.text-vanilla {
font-family: Dangrek;
flex-direction:column;
justify-content:center;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
padding-inline-start: 40px;
flex-wrap: wrap;
min-width: 600px;
position: relative;
top: 0px; left: 40px;
}
.text-fresh-fruit {
font-family: Dangrek;
flex-direction:column;
justify-content:center;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
padding-inline-start: 40px;
flex-wrap: wrap;
min-width: 600px;
position: relative;
top: 0px; left: 40px;
}
.text-popping-sugar {
font-family: Dangrek;
flex-direction:column;
justify-content:center;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
padding-inline-start: 40px;
flex-wrap: wrap;
min-width: 600px;
position: relative;
top: 0px; left: 40px;
}
p{
font-family: Dangrek;
font-size: medium;
justify-content:flex-start;
vertical-align:baseline;
}
.list__content {
font-family: Source Sans;
display: flex;
justify-content: flex-start;
font-size: 20px;
font-weight: 500;
text-align: start;
}
.img {
width: 350px;
justify-content: flex-end;
display: block;
}
.icon-vanilla {
display: block;
justify-content:flex-start ;
position:absolute;
height: 68px;
padding: 10px;
background-color: white;
border-radius: 3em;
}
.icon-fresh-fruit {
    display: block;
    justify-content:flex-start ;
    position:absolute;
    height: 68px;
    padding: 10px;
    background-color: white;
    border-radius: 3em;  
}
.icon-popping-sugar {
    display: block;
    justify-content:flex-start ;
    position:absolute;
    height: 68px;
    padding: 10px;
    background-color: white;
    border-radius: 3em;   
}


