@charset "utf-8";

body{
	background-color: #49385f;
}
.cards {
    display: flex;
	
}

.services__card {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 33.3%;
    padding: 15px;
    margin: 10px;
}

.desserts {
   
    background-image: url(img/.desserts.png);
}

.milk_shakes {
    
    background-image: url(img/.milk_shakes.png);
}

.ice_cream {
    
    background-image: url(img/.ice_cream.png);
}

.button {
    font-size: 12px;
    text-align: center
}

.card_style a {
    margin-top: 15px;
    display: block;
    width: 166px;
    padding: 10px 5px;
    background: #493b5f;
    color: #fff;
}

.card__inner a:hover {
    color: #fff;
    background: #blue;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
}