
.ingred {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    min-width: 600px;

}
.ingred-icon {
    display: block;
    /*width: 600px;*/
    padding-left: 40px;

}
.ingred-icon img {
    width: 80%;
    max-width: 600px;
}
.ingred-content {
    display: block;
    /*padding: 20px,20px,20px,20px*/
   
     
   }
.ingred-text {
    color: white;
    font-family: 'Leckerli One', cursive;
    font-size: 24px;
    
    
 }
.ingred-text-title {
    color: white;
    font-family: 'Dangrek';
    font-size: 48px;
    font-weight: 400;

}
.ingred-text-natural {
    font-family: 'Source Sans 3';
    font-size: 20px;
    color: white;
    font-weight: 700;
    /*text-align: justify;*/
    
    }
.ingred-list {
    color: white;
    font-family: 'Source Sans 3';
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;

}
.ingred-text-recipe {
    color: white;
    font-family: 'Source Sans 3';
    font-size: 18px;
    font-weight: 570;
    line-height: 30px;
}

.ingred-list ul {
    display: block;
    list-style: none;
    margin-left: -45px;

}
.ingred-list span {
    padding: 10px;
}

#icon-cont-organic {
    fill: rgb(184, 115, 144);
    width: 24px;
    
}
.ingred__slides {
    display: block;
    width: 100%;
    max-width: 550px;
    height: 400px;
    padding:30px 0 0 80px;
    text-indent: 0px;
    transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    cursor: pointer;}
    
.ingred__slides:hover {
    transform: scale(2 );
    -moz-transform: scale(2 );
    -o-transform: scale(2 );
    transform-origin: center;
}
    
