
.ingred {
    margin-top: 120px;
    margin-bottom: 100px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    min-width: 600px;

}
.ingred-icon {
    display: block;
    /*width: 600px;*/
    padding-left: 40px;

}
.ingred-icon img {
    width: 80%;
    max-width: 600px;
}
.ingred-content {
    display: block;
    /*padding: 20px,20px,20px,20px*/
   
     
   }
.ingred-text {
    color: white;
    font-family: 'Leckerli One', cursive;
    font-size: 24px;
    
    
 }
.ingred-text-title {
    color: white;
    font-family: 'Dangrek';
    font-size: 48px;
    font-weight: 400;

}
.ingred-text-natural {
    font-family: 'Source Sans 3';
    font-size: 20px;
    color: white;
    font-weight: 700;
    /*text-align: justify;*/
    
    }
.ingred-list {
    color: white;
    font-family: 'Source Sans 3';
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;

}
.ingred-text-recipe {
    color: white;
    font-family: 'Source Sans 3';
    font-size: 18px;
    font-weight: 570;
    line-height: 30px;
}

.ingred-list ul {
    display: block;
    list-style: none;
    margin-left: -45px;

}
.ingred-list span {
    padding: 10px;
}

.icon-cont-organic {
    fill: rgb(184, 115, 144);
    width: 24px;
    
}
.ingred__slides {
    display: block;
    width: 100%;
    max-width: 550px;
    height: 400px;
    padding:30px 0 0 80px;
    text-indent: 0px;
    transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    cursor: pointer;}
    
.ingred__slides:hover {
    transform: scale(2 );
    -moz-transform: scale(2 );
    -o-transform: scale(2 );
    transform-origin: center;
}



/* countdown */
    
.ingred__countdown {
    /*background-image: url(../img/background_book-a-table_card1.png);*/
    display: block;
    width: 70%;
    min-width: 150px;
    text-align: center;
    /*height: 250px;*/
    max-width: 200%;
    padding: 0 0 20px 0;
    background-color: #493b5f;
    border: solid 2px;
    margin: 20px;
    border-radius: 5px;
    color: white;
  }
   
  .countdown-title {
    color: white;
    font-family: Dangrek;
    font-weight: 400;
    font-size: 60px;
    margin: 40px 0px 20px;
  }
   
  .countdown {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    text-align: center;
    font-size: 30px;
  }
   
  .ing-countdown-number {
    /*width: 85px;*/
    padding: 10px;
    border-radius: 10px;
    background: rgb(248, 174, 185);
    display: inline-block;
  }
   
  .countdown-time {
    padding: 15px;
    border-radius: 10px;
    background: rgb(50, 38, 75);
    display: inline-block;
  }
   
  .ing-countdown-text {
    display: block;
    padding-top: 5px;
    font-size: 16px;
  }
  .order-clockbutton {
    padding: 20px;
    width: 100px;
    border-radius: 20px;
    background: yellow;
    display: block;
    text-align: center;

  }